/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "sans-serif"; // Helvetica second
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;


// btn-primary is our button, uses $blue (change blue to change the button)
$blue: #F7CE3E;

// $purple: #656F8C; // two dominant colors
// $green: #9BBFAB; // two dominants colors
// $white: white; // background color for containers
// $light-gray: #F2F5F8; // background
// $dark-gray: #a39f9f; // text on cards mostly

// test
$purple: #C5C1C0;
$green: #1A2930; // two dominants colors
$white: white; // background color for containers
$light-gray: #F2F5F8; // background
$dark-gray: #a39f9f; // text on cards mostly

$link-color: $purple;
// $link-hover-color:      darken($link-color, 15%);
$link-hover-color: pink;


$red: #EE5F5B;
// $blue: #469AE0;
// $blue: #7a726f;
$yellow: #FDB631;
$orange: #E67E22;
// $green: #F7CE3E;
$gray: #000000;
