/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner a {
  color: white;
}

.banner a:hover {
  text-decoration: none;
  color: white;
}

.home-page {
  padding-top: 40px;
}

.searchTerm {
  width: 425px;
}
#banner-photo {
  filter: greyscale(100%);
}
.banner {
  background-image: linear-gradient(36deg, rgba(77, 224, 14, 0.05) 38%, rgba(33, 35, 33, 0.65) 59%), url('https://tctechcrunch2011.files.wordpress.com/2016/11/startup-alley.png?w=1024&quot');
// background: #606c88;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to top, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to top, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  color: white;
  background-position: center;
  // text-align: center;
  height: cover;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  // background-position: center;
  position: relative;
  // align-items: center;
  // justify-content: center;
  font-family: Arvo;
  // padding-top: 220px;
}
.banner h1 {
  font-family: Raleway;
  font-weight: lighter;
  font-size: 58px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.title {
  padding: 10px;
}

.slogan {
  padding: 17px;
  padding-bottom: 66px;
}

.slogan p {
  text-shadow: 2px 2px rgba(105, 97, 97, 0.9);
  opacity: 0.9;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  // color: rgba(255, 255, 255, 0.7);
}

// .btn-event {
//   letter-spacing: 1.1px;
//   padding: 40px;
// }

.btn-event {
  color: #999999;
  border: 2px solid rgba(183, 181, 181, 0.65);
  padding: 10px 15px;
  border-radius: 28px;
  font-weight: lighter;
  opacity: 0.9;
  padding-top: 3px;
  padding-bottom: 10px;
}
.btn-event:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-event h3 {
  font-family: Arvo;
  font-weight: 400;
  font-size: 26px;
}

.join {
  padding-bottom: 31px;
  font-size: 25px;
}

.btn-join {
  // color: #999999;
  // border: 1px solid #999999;
  // padding: 10px 10px;
  // border-radius: 19px;
  // opacity: 0.9;
  // padding: 14px;
  text-shadow: 2px 2px rgba(105, 97, 97, 0.28);
}
.btn-join:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.or {
  padding-top: 12px;
}

.or p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.already-member {
  padding-top: 0px;
}

p.already-member {
  margin: 0px 0px 0px !important;
}


.discover {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 21px;
}
