@import "home";
@import "dashboard";
@import "profile_page";
@import "message";
@import "create_event";
@import "show_event";

.home-page {
  padding-top: 0px;
}

.wrapper {
  margin: 0;
  // background-color: #1A2930;
}

.wrapper-map {
  // padding-top: 10px;
  // padding-bottom: 40px;
}

.wrapper h2 {
  padding: 0px;
}

.search {
  background-color: #9BBFAB;
  margin: 0;
  padding: 20px;
}


.event-list-wrapper {
  background-color: #F2F5F8;
  padding-bottom: 60px;
}

.radio-inline {
  color: rgba(255,255,255,0.9);
}

// input rectangle for location
.form-control.string.required {
  border-radius: 7px;
}

// search button
.btn.btn-primary.search-btn {
  font-size: 15px;
}

.search-button {
  padding-left: 16px;
}


