@import "home";
@import "dashboard";
@import "profile_page";
@import "message";

.wrapper-map {
  padding-top: 40px;
  padding-bottom: 40px;
}

.event-index-title-description {
  padding-bottom: 20px;
}

.wrapper h2 {
  padding: 0px;
}
