body {
  margin: 0;
}

.dashboard {
  background-color: $light-gray;
  min-height: 85vh;
  padding-bottom: 70px;
}

.dashboard-body {
  background-color: white;
  min-height: 60vh;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 0 5px 0 5px;
}

.event-status {
  background-color: rgba(155,191,171,0.2);
  font-family: "Open Sans";
  color: #413659;
}

.blank-dashboard {
  padding-top: auto;
  font-size: 16px;
  color: $dark-gray;
}

.dashboard-page a:hover {
  text-decoration: none;
  color: black;
}

.dashboard-header {
  font-size: 18px;
}

.event-time {
  color: $purple;
  letter-spacing: 1.1px;
  font-size: 17px;
}

.unbook {
  padding-bottom: 18px;
}

// tabs
.tabs {
  display: flex;
  margin-top: 15px;
}
.tabs a {
  color: white;
  // font-weight: lighter;
  font-size: 15px;
  text-transform: uppercase;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: $purple;
  flex: 1 1 auto;
  text-align: center;
  padding: 15px 0;
  font-size: 15px;

}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: $green;
  color: white;
}
.tab-content {
  padding-top: 10px;
}
.tab-content p {
  // font-size: 30px;
  // font-weight: bold;
}
