h5 {
  font-size: 18px;
  font-family: "Open Sans";
}

.event-title a {
  color: #388ac1;
}

.dashboard-page a:hover {
  text-decoration: none;
  color: black;
}

.dashboard-page h2 {
  font-weight: lighter;
}

.unbook {
  font-size: 15px;
}

.event-time {
  font-size: 14px;
}
