
.profile-wrapper {
  width: 400px;
  background-color: lightgrey;
  padding: 30px 60px;
  text-align: center;
  margin: 50px auto;
  border-radius: 5px;
}
.profile_picture {
  width: 100px;
  border-radius: 50%;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
