.profile-wrapper {
  word-wrap: break-word;
  background-color: $light-gray;
  text-align: center;
  padding: 20px;
  color: $dark-gray;
  min-height: 85vh;
  padding-bottom: 70px;
}

.profile_picture {
  // width: 100px;
  border-radius: 50%;
}
// .alignleft {
//   float: left;
// }

// .alignright {
//   float: right;
// }
input, select, textarea{
    color: $navigation;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid $dark-gray;
    width: 60%;
}

textarea:focus, input:focus {
    color: $navigation;
    border-radius: 3px;
}

.profile-category {
  border-radius: 10px;
  width: 30px;
}

#edit-contact-button {
  color: $dark-gray;
}

.profile-header {
  background-color: $white;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}

.profile-page-links {
  padding: 10px 0;
  background-color: $white;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}

.profile-data {
  background-color: $white;
  padding: 15px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}

.profile-page-links i {
  font-size: 28px;
}
