
<div class="chatroom-form">
  <form class="new_chatroom" id="new_chatroom" action="/chatrooms" accept-charset="UTF-8" data-remote="true" method="post">
    <input name="utf8" type="hidden" value="✓">
    <div class="input-group">
      <span class="input-group-addon">topic:</span>
      <input class="form-control" type="text" name="chatroom[topic]" id="chatroom_topic">
    </div>
    <input type="submit" name="commit" value="Create chatroom" class="btn btn-primary" id="create-chatroom" data-disable-with="Create chatroom">
    <%#= link_to "Create chatroom", new_chatroom %>
  </form>
</div>
