a.unii-listing-button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  text-decoration: none;
  margin-bottom: 0; }
  a.unii-listing-button.unii-pink {
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff1866;
    background-repeat: repeat-x;
    border-color: #e9175d #e9175d #ff1866;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3; }
    a.unii-listing-button.unii-pink:active, a.unii-listing-button.unii-pink:hover {
      background-color: #e9175d;
      text-decoration: none;
      background-position: 0 -50px; }
  a.unii-listing-button.unii-blue {
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2f77b3;
    background-repeat: repeat-x;
    border-color: #255f8f #255f8f #2f77b3;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #255f8f; }
    a.unii-listing-button.unii-blue:active, a.unii-listing-button.unii-blue:hover {
      background-color: #255f8f;
      text-decoration: none;
      background-position: 0 -50px; }
  a.unii-listing-button.unii-red {
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #DD232C;
    background-repeat: repeat-x;
    border-color: #D21F27 #D21F27 #DD232C;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    a.unii-listing-button.unii-red:active, a.unii-listing-button.unii-red:hover {
      background-color: #D21F27;
      text-decoration: none;
      background-position: 0 -50px; }
  a.unii-listing-button.unii-black {
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #000;
    background-repeat: repeat-x;
    border-color: #000 #000 #000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    a.unii-listing-button.unii-black:active, a.unii-listing-button.unii-black:hover {
      background-color: #000;
      text-decoration: none;
      background-position: 0 -50px; }
  a.unii-listing-button.unii-white {
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    background-repeat: repeat-x;
    border-color: #fff #fff #fff;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
    a.unii-listing-button.unii-white:active, a.unii-listing-button.unii-white:hover {
      background-color: #fff;
      text-decoration: none;
      background-position: 0 -50px; }
  a.unii-listing-button.unii-medium {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 20px; }
  a.unii-listing-button.unii-small {
    padding: 6px 10px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 16px; }

.unii-powered-by {
  color: #8a8a8a;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0px 20px; }
  .unii-powered-by span {
    float: left;
    margin-right: 5px; }
  .unii-powered-by a {
    width: 86px;
    height: 15px;
    background: transparent url("/assets/images/logo.svg") center center no-repeat;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -9999px; }
  .unii-powered-by.unii-dark {
    color: white; }
    .unii-powered-by.unii-dark a {
      background-image: url("/assets/images/logo-white.svg"); }

#unii-embed-page {
  border: none;
  width: 100%;
  height: 100%; }

.unii-no-scroll {
  overflow: hidden !important; }

.unii-widget-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 999999; }

.unii-widget-wrapper .unii-widget-iframe {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0; }
