
 <!-- Footer code -->
<!-- <div id="footer">
  <ul class="unstyled list-inline">
    <li class="list-inline-item">
      <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
    </li>
    <li class="list-inline-item">
      <p>All rights reserved     |    © Unify 2017 </p>
    </li>
  </ul>
</div> -->

