<div id="footer">
  <%= link_to dashboard_attendances_path do %>
    <i class="material-icons footer-icon">perm_contact_calendar</i>
  <% end %>
  <%= link_to dashboard_attendances_path do %>
    <i class="material-icons footer-icon">question_answer</i>
  <% end %>
  <%= link_to dashboard_attendances_path do %>
    <i class="material-icons footer-icon">assignment</i>
  <% end %>
</div>
