
<div class="wrapper">
  <div class="container home-page">
    <div class="row">
<!-- Search bar -->
      <div class="col-xs-12">
        <div class="search events">
          <%= form_tag search_events_path, method: :get do  %>
          <input type="text" class="searchTerm" placeholder="Where are you? What type of event are you looking for? " name="search">

          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
          <% end %>
        </div>
      </div>

<!-- List of the events -->
      <div class="col-xs-12">
        <% unless @events.nil? %>
        <ul class="list-unstyled">
          <%  @events.each do |event| %>
            <li>
              <div class='product-body'>
                <h3> <%= link_to event.title, event_path(event) %> </h3>
                <p><%= event.description %></p>
              </div>
            </li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
