<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<div class="wrapper">
  <h2>What are you up to?</h2>

  <div class="products">
    <% unless @events.nil? %>
      <ul class="list-unstyled list-inline">
        <% @events.each do |event| %>
          <div class="product">
            <li>
              <div class='product-body'>
                <h3> <%= link_to event.title, event_path(event) %> </h3>
                <p><%= event.description %></p>
              </div>
            </li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
