<h1>Events#show</h1>
<h1><%= @event.title %></h1>


<% if @event.upcomming? %>
 <p>This event is to come. At the event, you will be able to check-in to enable the chat and view the other attendees</p>
<% end %>

<% if @event.now? %>
<%= link_to "Checkin to this event", event_attend_path(@event), method: :get, class: "navbar-wagon-item navbar-wagon-button btn" %>
<% end %>

<% if @event.past? %>
<p>This event is past</p>
<% end %>


<div class="wrapper">
<div class="wrapper-map">
          <div id="map" style="width: 100%; height: 320px;"></div>

          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(14);
                  }
                });
              });

            <% end %>
          <% end %>
      </div>
       </div>


<p>Find me in app/views/events/show.html.erb</p>
