<% content_for :full_page do %>
<div class="banner">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">

          <!-- Title -->
            <h1 class= "title-home">Unify</h1>
            <p class="slogan">Network made easy</p>

          <!-- Discover events near you - link with event_path -->

          <div class="btn-event">
            <h3> <%= link_to "Discover events around you", events_path%> </h3>
          </div>

          <!-- Or -->
          <p>or</p>

          <!-- Sign In & Sign Up -->
          <!-- <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> -->
          <p><%= link_to "Join us now", new_user_registration_path, class:"join" %></p>
          <p style="font-size: 10px" class="already-member">Already a member? <%= link_to "Log in", new_user_session_path %></p>

          <!-- Terms and conditions -->
          <!-- <p>Terms and conditions</p> -->

      </div>
    </div>
  </div>
  </div>
<% end %>
