// Your footer style
html, body {
  position: relative;
}


body {
  min-height: 100vh;
  padding-bottom: 60px;
}

#footer {
  background-color: #282933;
  color: #CCCCCC;
  padding-left: 40px;
  padding-top: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#footer i {
  font-size: 20px;
  // margin-right: 30px;
  // margin-bottom: 30px;
}

#footer ul {
  margin-left: 900px;
}

#footer p {
  font-size: 14px;
}
