
.banner-event {
  position: relative;
  height: 600px;
  background-size: cover;
}

.banner-event-text {
  color: rgba(255, 255, 255, 0.75);
  padding-top: 20%;
  margin-top: 0 auto;
  margin-bottom: 230px;
  text-align: center;
}

.banner-event-text h1 {
  font-weight: bold;
  text-transform: uppercase;
}
