.rounded-btn {
  border: 1px solid #F7CE3E;
  border-radius: 25px;
  padding: 10px;
  min-width: 30px;
  color: rgba(247,206,62, 0.9);
  font-size: 13px;
}

.rounded-btn:hover {
  border: 1px solid #f4d97f;
}
